/*Botones*/

.btnInfo {
    background-color: #f50b00;
    color: white;

    &:hover {
        background-color: #C22F27;
    }
}

.btn-outline-success {
    background-color: #F50B00;
    color: white;
    border: white;

    &:hover {
        background-color: #C22F27;
    }
}

.btn0km {
    background-color: #F50B00;
    color: white;

    &:hover {
        background-color: #C22F27;
    }
}

.btnMarcas:hover {
    background-color: #C22F27;
}

.btnForm {
    border: solid black 1px;
}

.btnContacto {
    background-color: #F50B00;
    color: white;
    border: white;

    &:hover {
        background-color: #C22F27;
    }
}