/*Botones*/

.btnInfo {
    background-color: $color-botones;
    color: $color-fuentes;

    &:hover {
        background-color: $color-hover;
    }
}

.btn-outline-success {
    background-color: $color-botones;
    color: $color-fuentes;
    border: $color-fuentes;

    &:hover {
        background-color: $color-hover;
    }
}

.btn0km {
    background-color: $color-botones;
    color: $color-fuentes;

    &:hover {
        background-color: $color-hover;
    }
}

.btnMarcas:hover {
    background-color: $color-hover;
}

.btnForm {
    border: $bordes;
}

.btnContacto {
    background-color: $color-botones;
    color: $color-fuentes;
    border: $color-fuentes;

    &:hover {
        background-color: $color-hover;
    }
}