/*Usados y 0km*/

.row {
    margin-top: 30px;
    margin-bottom: 30px;
}

.card {
    border-color: $color-detalle;
    padding: 5px;
    border-radius: $border-radius-general;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: $color-fondo;
}

.titulo {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.menuMarcas {
    width: 150px;
    margin-left: 10px;
    margin-top: 20px;
}

.item0km {
    background-color: $color-botones;
    color: $color-fuentes;
}

.card {
    margin-right: 0px;
}

.card-body {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}