.formulario {
    border: solid black 1px;
    padding: 10px;
    border-radius: 10px;
  }
  
  .formContacto {
    text-transform: uppercase;
  }
  
  .barraContacto {
    border: solid black 1px;
  }
  