$color-fuentes: white;
$color-botones: #f50b00;
$color-hover: #C22F27;
$color-fondo: #F2F2F2;
$color-detalle: #C9C9C9;
$border-radius-general: 10px;
$border-radius-mapa: 15px;
$bordes: 1px solid black;
